.App {
  text-align: center;
}

::-webkit-scrollbar {display:none;}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Box{
  width: 20px !important;
}

.boxclass .MuiBox-root{
  height: 90vh !important;
}


.headerdiv .CodeMirror{
  width: 95vh !important;
  height: fit-content !important;

}

.CodeMirror{
    width: 95vh !important;
    height: 80vh !important;
}

.MuiBox-root{
    align-items: top;
    margin-left: auto;
    margin-right: auto;
  }

.MuiDivider-root {
  height: 1px !important;
  background-color: #4f5b62 !important;
}

.MuiDrawer-paperAnchorDockedBottom{
  border-top-color: #a4b3b6 !important;
}

.placeholderdiv{
    width: 99.55%;
    border-style: none;
    background-color: #4f5b62 !important;
}

:root {
  --pos-y: 24px;
  --color-sep: #263238;
  --color-accordiontext:white;
  --color-accordionback:#2e424b;
  --color-accordiondet:#4f5b62;
}


.div-sep{
    background-color: var(--color-sep) !important;
    color: white;
    font: bold;
    font-family:'Segoe UI';
}

.MuiSnackbar-anchorOriginBottomCenter{
    bottom: var(--pos-y) !important;
}

#buttondark{
  position: absolute;
  color: #FFFFFF;
  right: 0;
}

#buttonexpand{
  color: #FFFFFF;
}

#buttonreduce{
  color: #FFFFFF;
}

#panel1a-header{
  color: var(--color-accordiontext);
  background-color: var(--color-accordionback);
}
.MuiAccordionDetails-root{
  background-color: var(--color-accordiondet);
}