.App {
  text-align: center;
}

::-webkit-scrollbar {display:none;}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Box{
  width: 20px !important;
}
.CodeMirror{
    width: 100vh !important;
    height: 100vh !important;
}

.MuiBox-root{
    align-items: center !important;
    margin-left: auto;
    margin-right: auto;
    /*justify-content: center;*/
    /*justify-content:space-evenly;*/
  }

.MuiDivider-root {
  height: 1px !important;
  background-color: #4f5b62 !important;
}

.MuiDrawer-paperAnchorDockedBottom{
  border-top-color: #a4b3b6 !important;
}

.placeholderdiv{
    width: 99.55%;
    border-style: none;
    background-color: #4f5b62 !important;
}

:root {
  --pos-y: 24px;
  --color-sep: #263238;
}

.div-sep{
    /*background-color: #263238;*/
    background-color: var(--color-sep) !important;
    color: white;
    font: bold;
    font-family:'Segoe UI';
}

.MuiSnackbar-anchorOriginBottomCenter{
    bottom: var(--pos-y) !important;
}